@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body{
    font-family: roboto, "san serif";
    color: rgb(40, 39, 39);
    margin: 0;
    padding: 0;
    height: 100vh;
}
.container{
    width: 40%;
    border: 2px solid grey;
    border-radius: 12px;
    padding: 18px 22px;
    margin-inline: auto;
    margin-block-start: 100px;
}
.container:hover {
    box-shadow: 2px 0px 18px hsl(0, 0%, 76%);
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 43px;
    color: hotpink;
    border-bottom: 10px dotted purple;
}
#sub {
    color: rgb(141, 141, 143);
    margin-top: 34px;
    font-weight: 589;   
    font-size: 20px;
}
h2{
    font-style: italic;
}
p{
    line-height: 24px;
}
.wrapper{
    border: 5px solid purple;
    border-radius: 12px;
    background-color: #eeeeee;
}
ul {
    padding: 12px auto;
    line-height: 24px;
}
a{
    text-decoration: none;
}
a:hover{
   color: green;
}
